.bodyContent{
    width: 100%;
}

.logo{
   height:15%; 
}

.logo h1{
    font-size: 400% ;
    text-align: center;   
    color: rgba(0, 0, 0, 1);
    font-style: italic;
    font-family: serif;
    position: absolute;
    top:10%;
    left:22%;
}

.title{
    position: relative;
    font-size: 180%;
}

.column{
    text-align: left;
    font-size: 100%;
}

.left img, .right img{
    width: 65%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.productImage{
    width: 50%;
    height: auto;
    border-style: double;    
}

.productColumn{
    float: left;
   padding:0.05px;
    font-size: 120%;
    width: 33.3%;   
	break-inside:auto;	
}

.book{
    text-align: center;
    border-style: solid;
    border-color: rgba(0, 0, 0, 1);
    position: relative;
    padding: 0px 0px;
    width: 85%;
    margin: auto;
    position: relative;
    height: 270px;
}

.row{
    width: 100%;
}

.pages a{
    padding: 5px 5px;
    border: solid;
    text-decoration: none;
    font-size: 70%;
    border-color: rgba(0, 0, 0, 1);
    color: rgba(0, 0, 0, 1);
}

.pages a#active{
    font-size: 70%;
}

.col{
    width: 50%;
}

#sign-in-form{
    text-align: center;
    padding: 10px;
    width: 70%;
    font-size: 115%;
    border-style: double;
    margin: auto;
}

#contact-us-form{
    text-align: left;
    padding: 10px;
    width: 80%;
    margin: auto;
}

.account, #cart-top, .menu a.bar, div.menu, .slides, .thumbnails, .dots, .footer-row, div.genre, .shoppingCart{
    display: none;
}