
/*WHOLE WEBSITE DISPLAY PARAMETERS*/

/*Gives space for header logo*/
body, html{
    height: 100%;
    margin: 0;
}

/*Sets background and font style to all page*/
body{
    background-image: url(images/cover.jpg);
    width: 100%;
    background-repeat: repeat;
    font-family: Arial, Helvetica, sans-serif; 
}

/*Sets width,allignment and background color for main content area*/
.bodyContent{
    width: 96%;
    margin: auto;
    background-color: rgba(254, 249, 240, 0.95);
}

/*Sets alignment for h3 sized header*/
h3{
    text-align: center;
}

/*Sets font size and alignment for main headings in all pages*/
.title{
    font-size: 20px;
    text-align: center;
}

/*Title size adjustments for when the screen size changes*/
@media screen and (min-width: 350px){
    .title {font-size: 30px;}
}

@media screen and (min-width: 440px){
    .title {font-size: 40px;}
}




/*HEADER AND ACCOUNT*/

/*Customizes logo image display*/
.logo{
    background-image: url("images/new.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size:cover;
    height: 30%;
    display: flex;
    min-width: inherit;
    opacity: 0.85;
    width: 96%;
    margin: auto;
    position: relative;
}

/*Changes how website name is shown*/
.logo h1{
    font-size: 180% ;
    text-align: left;
    position: absolute;    
    color: rgba(254, 249, 240, 1);
    background-color: rgba(0, 0, 0, 0.99);
    border-radius: 5px;
    font-style: italic;
    font-family: serif;
    top: 50%;
    left: 4%;
}

/*Class that customizes register and sign in buttons*/
.account{
    font-size: 105%;
    text-decoration: none;
    color: rgba(254, 249, 240, 1);
    font-weight: bold;
    position: absolute;
    right:5%;
    text-align: right;
}

/*Id to set sign in button position from the top*/
#sign_in{
    top: 7%;
}

/*Id to set registration button position from the top*/
#registration{
    top: 2%;
}

/*Id to customize cart's position from the top and it's size*/
#cart-top{
    font-size: 180%;
    top: 31%;
}

/*Property adjustments for when the screen size changes*/
@media screen and (min-width: 280px){
    header.logo > h1{font-size: 250%;}
}

@media screen and (min-width: 400px){
    header.logo > h1 {font-size: 350%;}
    header.logo {height: 35%;}
    .account {font-size: 110%;}
    #cart-top{top: 36%;}
}

@media screen and (min-width: 575px){
    header.logo > h1 {font-size: 400%;}
    header.logo {height: 40%;}
    .account {font-size: 115%;}
    #cart-top{top: 41%;}
}

@media screen and (min-width :800px){
    header.logo > h1 {font-size: 650%; top: 42%;}
    header.logo {height: 55%;}
    .account {font-size: 120%;}
    #cart-top{top: 56%;}
} 



/*MENU*/

/*Sets colour for the menu,makes it visible on top of other elements,hides the options that don't fit */
.menu{
    overflow: hidden;
    background-color: rgba(128, 172, 214, 1);
    z-index: 1;
}

/*Sets properties for menu option display,even it is not visible before screen gets bigger*/
.menu a{
    float: left;
    color: rgba(0, 0, 0, 1);
    padding: 12px 14px;
    text-decoration: none;
    display: none;
    border-bottom: double;
    font-size: 150%;	
}

/*Changes the colour of the items user is howering over to help follow the cursor*/
.menu a:hover, .menu.visible a:hover{
    background-color: rgba(254, 249, 240, 1);
    color: rgba(0, 0, 0, 1);
}

/*Changes the colour and font weight to let user know what page is currently previewed*/
.menu a.current, .menu.visible a.current{
    background-color: rgba(34, 65, 93, 1);
    color: rgba(254, 249, 240, 1);
    font-weight: bold;
}

/*Properties for menu bar display*/
a.bar{
    float: left;
    display: block;
    border-bottom: none;
}

/*Displays menu options*/
.menu.visible a{
    float: none;
    display: block;
    text-align: left;
    background: rgba(128, 172, 214, 1);
}

/*Adjustments in property values for wider screens,hides menu bar and displays options in block*/
@media screen and (min-width: 800px){
    .menu a {display:block; border-bottom: none;}
    a.bar {display: none;}
}

@media screen and (min-width: 1000px){
    .menu a {display:block; border-bottom: none;}
    a.bar {display: none;}
}



/*FORM*/

/*Tags used to edit background colour and border for form elements*/
input, select{
    background-color: rgba(128, 172, 214, 0.6);
    border-radius: 25px;
}

/*Id meant to emphasise terms and conditions link,and remove default text decorations*/
#terms{
    color: rgba(34, 65, 93, 1);
    text-decoration: none;
    font-weight: bold;
}

/*Sets parameters for content display*/
div.content{
    font-size: 115%;
    position:relative;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

/*Sets parameters for registration form columns*/
.col{
    float:left;
    width:100%;
}

/*Sets parameters for sign in page layout*/
#sign_in_details{
	width: 200px;
    border-style: double;
    margin: auto;
	padding: 10px;
	background-color: rgba(254, 249, 241, 1);
	text-align: center;
}

#sEmail, #sPassword{
    width: 80%;
}

/*This id is meant to define how form area will be displayed in Contact us page*/
#contact-us-form{
    text-align: left;
    background-color: rgba(254, 249, 241, 1);
    padding: 10px;
    width: 50%;
    margin: auto;
}

/*Makes message area responsive*/
#contact-us-form textarea{
    width: 100%;
}

/*Sets colour and allows responsiviness for form input area*/
#contact-email{
    background-color: white;
    width: 100%;
}

/*Adjusts parameters for when the screen gets bigger*/
@media screen and (min-width: 600px){
    .col {width: 50%;}
	#sign_in_details{width:300px;}
}

@media screen and (min-width: 900px){
    div#content {width: 70%;}
	#sign_in_details{width:400px;}
}



/*GENRE MENU*/

/*Sets colour for the genre menu,makes it visible on top of other elements,hides the options that don't fit */
.genre{
    overflow: hidden;
    background-color: rgba(152, 190, 226, 1);
    z-index: 1;
}

/*Sets properties for genre menu option display,even it is not visible before screen gets bigger*/
.genre a{
    float: left;
    color: rgba(0, 0, 0, 1);
    padding: 12px 12px;
    text-decoration: none;
    text-align: center;
    display: none;
    font-size: 145%;
}

/*Changes the colour of the items user is howering over to help follow the cursor*/
.genre a:hover, .genre.visible a:hover{
    background-color: rgba(254, 249, 240, 1);
    color: rgba(0, 0, 0, 1);
}

/*Changes the colour and font weight to let user know what page is currently previewed*/
.genre a.current, .genre.visible a.current{
    background-color: rgba(43, 81, 115, 1);
    color: rgba(254, 249, 240, 1);
    font-weight: bold;
}

/*Properties for genre menu button display*/
a.genreButton{
    float: left;
    display: block;
    background-color: rgba(34, 65, 93, 1);
    color: rgba(254, 249, 240, 1);
    padding: 11px;
    font-size: 130%;
    border: none;
    border-radius: 10px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
}

/*Displays genre menu options*/
.genre.visible a{
    float: none;
    display: block;
    text-align: left;
    background: rgba(152, 190, 226, 1);
}

/*Adjustments in property values for wider screens,hides genre menu button and displays options in block*/
@media screen and (min-width: 800px){
    .genre a {display:block; font-size: 75%;}
    a.genreButton {display: none;}
}

@media screen and (min-width: 950px){
    .genre a {display:block; font-size: 100%;}
    a.genreButton {display: none;}
}

@media screen and (min-width: 1200px){
    .genre a {display:block; font-size: 115%;}
    a.genreButton {display: none;}
}



/*SLIDESHOW*/

/*Classes to set background color and alignment for slidehow thumbnails and dots*/
.thumbnails, .dots{
    background-color: rgba(0, 0, 0, 0.85);
    text-align: center;
}

/*Class to adjust slideshow thumbnail display for when the screen gets bigger*/
.thumb{
    width: 7%;
    display: none;
    padding: 0.5%;

}

/*Class to adjust slideshow dot display*/
.dot{
    height: 13px;
    width: 13px;
    background-color: rgba(254, 249, 240, 0.9);
    margin: 0 1px;
    border-radius: 50%;
    display: inline-block;
}

/*Sets slide size to fit the screen*/
.allSlides, #img1{
    width: 100%; 
}

/*Hides dots and displays thumbnails when the screen gets bigger*/
@media screen and (min-width: 700px){
    .thumb {display: inline-block;}
    .dot {display: none;}
}

/*Sets parameters for slideshow caption display*/
.caption{
    font-size: 50%;
    font-weight: bold;
    background-color: rgba(0, 0, 0, 1);
    text-align: center;
    color: rgba(254, 249, 240, 1);
    position: absolute;
    top: 41%;
    right: 3%;
    padding: 0.8%;  
    border-radius: 7px;
}

/*Adjustments in property values for wider screens,increases caption font size and position from the top, when the screen gets bigger*/
@media screen and (min-width :300px){
    .caption{font-size: 60%; top:43%;}
}

@media screen and (min-width :400px){
    .caption{font-size: 80%; top:50%;}
}

@media screen and (min-width :500px){
    .caption{top:53%;}
}

@media screen and (min-width :550px){
    .caption{top:54%;}
}

@media screen and (min-width :575px){
    .caption{top:60%;}
}

@media screen and (min-width :600px){
    .caption{font-size: 110%;}
}

@media screen and (min-width :800px){
    .caption{font-size: 150%; top:80%;}
}

@media screen and (min-width :1100px){
    .caption{font-size: 155%;top:88%;}
}

@media screen and (min-width :1300px){
    .caption{top:92%;}
}

@media screen and (min-width :1450px){
    .caption{top:96%;}
}



/*INDEX PAGE*/

/*Sets margin for columns so they wouuld be centered in the page*/
.row{
    margin: auto;
}

/*Class to adjust column display*/
.column{
    float: left;
    padding: 20px;
    font-size: 115%; 
	text-align: left;	
}

/*Makes insertion after the columns possible*/
.row:after{
    content: "";
    display: table;
    clear: both;
}

/*Sets parameters for image display*/
.left img, .right img{
    border-radius: 15px;
    width: 100%;
}

/*Changes cursor on the map image to make it look like it is possible to zoom in*/
.right img#map{
    cursor: zoom-in;
}

/*Makes event link on the right black colour*/
.right a{
    color: rgba(0, 0, 0, 1);    
}

/*Sets background colour for the right column*/
.right{
    background-color: rgba(178, 230, 250, 0.5);
}

/*Changes column width when the screen gets bigger,that allows then to be side by side*/
@media screen and (min-width :850px){    
    .left { width: 65%;}
    .right { width: 35%;}
}

/*Column padding is included in the width and heigh,allows columns to fit next to each other*/
* {
    box-sizing: border-box;
}



/*PRODUCT DISPLAY*/

/*Sets basic parameters for columns on products page*/
.productColumn{
    float: none;
    padding: 25px;
    font-size: 120%; 
}

/*Sets how area for book display apears*/
.book{
	font-size:90%;
    text-align: center;
    border-style: solid;
    border-color: rgba(0, 0, 0, 1);
    background-color: rgba(254, 249, 241, 1);
    position: relative;
    padding: 10px 10px;
    width: 100%;
    margin: auto;
    cursor: pointer;
    position: relative;
    height: auto;
}

/*Edits how book image is displayed*/
.productImage{
    width: 50%;
    height: auto;
    border-style: double;    
}

/*Class that defines how to display book title*/
.Title{
    font-weight: bold;
    font-size: 115%;
}

/*Aligns page buttons in the middle of the page*/
.pages{
    text-align: center;
}

/*Changes how page buttons look like*/
.pages a{
    padding: 8px 10px;
    border: solid;
    background-color: rgba(128, 172, 214, 1);
    font-weight: bold;
    text-decoration: none;
    font-size: 125%;
    border-color: rgba(0, 0, 0, 1);
    color: rgba(0, 0, 0, 1);
	cursor:pointer;
}

/*This allows to overide default link colour after visiting it*/
.pages a:visited{
     color: rgba(0, 0, 0, 1);
}

/*Defines how current page button looks like,i wanted to emphasise it*/
.pages a#active{
    background-color: rgba(152, 190, 226, 1);
    font-size: 140%;
    border-width: thick;
}

/*Adjusts parameters for when the screen gets bigger,shows three columns side by side*/
@media screen and (min-width :750px){    
    .productColumn{width: 33%;}
    .row{width: 100%;}
    .book{font-size: 120%;height:450px;}
    .productColumn{float: left;}
	.shoppingCart{position:absolute;bottom:5%;right:10%;}
}

@media screen and (min-width :1100px){   
    .book{height: 450px;}    
}

@media screen and (min-width :1225px){   
    .book{height: 470px;}    
}

@media screen and (min-width :1300px){   
    .book{height: 500px;}    
}

@media screen and (min-width :1450px){    
    .book{height:520px;}
}

@media screen and (min-width :1650px){    
    .book{height:540px;}
}

@media screen and (min-width :1800px){    
    .book{height:620px;}
}

/*Changes colour and border on shoping cart form element*/
.quantity{
    background-color: rgba(255, 255, 255, 1);
    border-radius: 5px;
}
/*Changes colours for add to cart button*/
.shoppingCart button{
    background-color: rgba(128, 172, 214, 0.6);
    font-size: 85%;
}


/*FOOTER*/

/*Parameters that define how footer will be displayed*/
#footer{
    background-image: url("images/footer.jpg");
    background-position: center;
    height: auto;
    opacity: 0.97;
    width: 96%;
    margin: auto;
    position: relative;	
}

/*Edits how facebook icon looks like*/
.fa-facebook{
    background: rgba(59, 89, 152, 1);
    color: rgba(255, 255, 255, 1);
    padding: 5px 10px;
    font-size: 100%;
}

/*Edits how twitter icon looks like*/
.fa-twitter{
    background: rgba(85, 172, 238, 1);
    color: rgba(255, 255, 255, 1);
    padding: 5px 5px;
    font-size: 100%;
}

/*Edits how instagram icon looks like*/
.fa-instagram{
    background-image: linear-gradient(to top right, yellow,red,purple,blue);
    color: rgba(255, 255, 255, 1);
    padding: 5px 5px;
    font-size: 100%;
}

/*Sats parameters for footer column display*/
.footer-col{
    font-size: 110%;
    width: 100%;
    text-align: center;
    color:rgba(254, 249, 240, 0.95);
    float: left;
}

/*Removes link decorations in the footer*/
.footer-col>a{
    color:rgba(254, 249, 240, 0.95);
    text-decoration: none;
}

/*Displays more narrow footer*/
.footer-row{
    width: 94%;
    margin: auto;
}

/*Allows nice display of the footer*/
.footer-row:after{
    content: "";
    display: table;
    clear: both;
}

/*Adjusts how columns are displayed when the screen gets bigger*/
@media screen and (min-width :600px){   
    .footer-col { width: 50%;}
}

@media screen and (min-width :700px){   
    .footer-col { width: 25%;}
}
